body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #11111b;
    ;
    color: #333;
  }
  
  .layout {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .hero-text {
    text-align: center;
    margin: 50px 0;
  }
  
  .tagline {
    font-size: 2.5em;
    color: #9832fd;
  }
  
  .title {
    font-size: 1.75em;
    margin-top: 10px;
    color: #e188f5;
  }
  
  .contact-us {
    background-color:#fcfbfb;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
  }
  
  .form-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .form-subtitle {
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  textarea {
    height: 100px;
    resize: vertical;
  }
  
  .disclaimer {
    font-size: 0.9em;
    color: #666;
    margin: 15px 0;
  }
  
  button {
    display: inline-block;
    background-color: #8000ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6f00dd;
  }
  
  .description {
    font-size: 0.9em;
    color: #666;
    margin-top: 15px;
  }
  
  .features2 {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .features-title {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .feature-item {
    margin-bottom: 20px;
  }
  
  .feature-item h3 {
    font-size: 1.2em;
    color: #8000ff;
    margin-bottom: 5px;
  }
  
  .feature-item p {
    font-size: 1em;
    color: #333;
  }
  